.order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
  flex-wrap: wrap;

  /* max-width: 880px; */
  margin: 0 auto;
  padding: 30px 0;
  border-top: 1px solid #d2d2d2;
  /* background-color: #ff2e6615; */
}

.order_wrap_flax {
  display: flex;
  align-items: center;
  gap: 25px;
  width: 420px;
}

.order_title {
  font-weight: 700;
  font-size: 19px;
  line-height: 17px;
  color: #0e0c0d;
  margin-bottom: 10px;
}

.order_description {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #686466;
}

.order_img {
  width: 80px;
  height: 80px;
  filter: drop-shadow(0 0 2px #919191);
}

.price {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ff2e65;
}

.btn_delete {
  filter: drop-shadow(0 0 1px #b8b7b7);
  transition: filter 0.3s ease-in;
}

.btn_delete:hover {
  filter: drop-shadow(0 0 1px #404040);
}
