.header_nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
}

.header_nav_link {
  border-radius: 8px;
}

.btn_menu {
  display: none;
  padding: 6px 24px;
  background-color: #f0f0f0;
  border-radius: 8px;
  cursor: pointer;
  outline: 1px solid #c3c3c6;
  outline-offset: -2px;
  transition: background-color 0.4s ease-in-out;

  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #231f20;
}

.btn_menu:hover {
  background-color: #dcdcdf;
}

.log_in {
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #696f7a;
}

.count {
  padding: 0 0 0 6px;
}

@media (max-width: 1080px) {
  .header_nav {
    justify-content: start;
    padding: 0 25px;
  }
  .btn_menu {
    display: block;
    margin-right: 50px;
  }
  .log_in {
    margin-right: 50px;
  }
}

@media (max-width: 600px) {
  .header_nav {
    flex-wrap: wrap;
    padding: 0 12px;
  }
  .btn_menu {
    margin-left: 0;
    margin-right: 10px;
  }
  .log_in {
    margin-right: 10px;
  }
}

/* @media (max-width: 400px) {
  .header_nav {
    justify-content: space-between;
  }
} */
