.main {
  width: 100%;
  background-color: transparent;
}

.section_cart {
  padding: 30px 45px;
}

.section_cart_container {
  max-width: 880px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}

.section_cart h2 {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #ff2e65;
}

.order_list {
  margin-bottom: 60px;
}

.order_list li:last-child {
  border-bottom: 1px solid #d2d2d2;
}

@media (max-width: 1080px) {
  .section_cart {
    padding: 30px 25px;
  }
}

@media (max-width: 634px) {
  .section_cart h2 {
    margin-bottom: 0;
  }
}

@media (max-width: 600px) {
  .section_cart {
    padding: 30px 12px;
  }
}
