.section_pay_delivery {
  padding: 60px 0;
  background-color: #e3ecf5;
}

.section_pay_delivery h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #ff2e65;
  padding: 0 12px;
}

.section_pay_delivery_wrap {
  padding: 60px 45px 0;
}

.type_delivery_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 30px;
}

@media (max-width: 1080px) {
  .section_pay_delivery_wrap {
    padding: 60px 25px 0;
  }
  .type_delivery_list {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 10px;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .section_pay_delivery_wrap {
    padding: 60px 12px 0;
  }
  .type_delivery_list {
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}
