.map {
  width: 100%;
  background-color: transparent;
}

.map__img {
  border-radius: 14px;
  outline: 1px solid #00000025;
  box-shadow: 0px 4px 24px #0000000f;
}

@media (max-width: 600px) {
  .map__img {
    height: 300px;
    object-fit: cover;
  }
}
